.App {
  text-align: center;
  visibility: hidden;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: sandybrown;
  margin: 50px;
  cursor: pointer;
}

.circle.red {
  background-color: crimson;
}

.circle.blue {
  background-color: cornflowerblue;
}